@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;700&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}
section{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 24px 24px;
    padding: 100px;
    height: 100vh;
}
#titulo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: auto;
    height: 40px;
}
#titulo h1{
    font-size: 50px;
    display: block;
    background-color: antiquewhite;
    border-radius: 8px;
}
#deficion{
    grid-column: 5 / 11;
    grid-row: 1 / 2;
    background-color: antiquewhite;
    border-radius: 8px;
}
#code1{
    display: flex;
    grid-column: 2 / 6;
    grid-row: 3 / 6;
 
    align-items: center;
    justify-content: center;
}
#code1 div{
    margin: 12px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
#code2{
    display: flex;
    grid-column: 7 / 11;
    grid-row: 3 / 6;
    align-items: center;
    justify-content: center;
}
#code2 div{
    margin: 12px;
}
#ejemplo{
    display: flex;
    grid-column: 2 / 11;
    grid-row: 7 / 12;
    align-items: center;
    justify-content: center;
}
/* ejemplo */
.caja{
    height: 120px;
    width: 140px;
    background: #a8172f;
    float: left;
    margin: 12px;
    text-align: center;
}
.caja:empty{
    background-color: #96da30;
}
.texto{
    background-color: ;
}
.box{
    background-color: antiquewhite;
    margin: 12px;
    border-radius: 8px;
}
